{% extends 'main/base.html' %}

{% block title %}Crear Item{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h2 class="h4 mb-3 font-weight-normal">Crear Nuevo Objeto</h2>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.media }}
                        {{ form.as_p }}
                        <button class="btn btn-primary btn-block" type="submit">Crear Objeto</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
